<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
    <div class="content">
        <h2>Contact</h2>
        <form method="post" action="https://forms.un-static.com/forms/YOUR_ENDPOINT_REFERENCE">
            <strong>Name</strong>
            </br>
            <input type="text" name="name" placeholder="Enter your name" required>
            </br>
            <strong>Email</strong>
            </br>
            <input type="email" name="email" placeholder="Enter your e-mail address" required>
            </br>
            <strong>Message</strong>
            </br>
            <textarea name="message" cols="40" rows="8"></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
    <div class="image">
        <img src="images/blankenberge-outside-oneillbeachclub.jpg" alt="" />
    </div>
</section>