<!-- Footer -->
<footer class="wrapper style1 align-center">
    <div class="inner">
        <ul class="icons">
            {{ with .Site.Params.social.airbnb }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-airbnb"><span class="label">Airbnb</span></a></li>{{end}}
        </ul>
        <p>2Forward BV &copy; 2024</p>
</div>
</footer>

<!-- FontAwesome JS -->
{{ range .Site.Params.asset.fontawesome_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}